[submodule "web3-connectKit-template"]
	path = web3-connectKit-template
	url = https://github.com/ArnaudSene/web3-connectKit-template
[submodule "web3-rainbowkit-template"]
	path = web3-rainbowkit-template
	url = https://github.com/ArnaudSene/web3-rainbowkit-template.git
[submodule "web3-appkit-template"]
	path = web3-appkit-template
	url = https://github.com/ArnaudSene/web3-appkit-template.git
[submodule "web3-solana-wallet-adapter-template"]
	path = web3-solana-wallet-adapter-template
	url = https://github.com/ArnaudSene/web3-solana-wallet-adapter-template.git
